// ---------------- Main Styles ----------------


// ---------------- Foundation Overrides ----------------
// ---------------- Nav.jsx ----------------
.top-bar {
  background: $top-bar-color;
  padding: 1rem;

  ul {
    background: none;
    color: $top-bar-text;
  }
}

.menu {

  .logo {
    margin: 0 1rem 0 0;
    width: 1.6rem;
  }

  .menu-text {
    a {
      display: inline;
      padding: 0;
    }
  }
}

.active-link {
  a {
    border-bottom: .2rem solid white;
  }
}
